/*  NOTES


*/

* {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}

/* Gridlex reset 
[class*="col-"], [class*="col_"], [class~="col"]  {padding:0;}
﻿
[class*="grid-"], [class*="grid_"], [class~="grid"] {margin:0;} */

Or :
[class*=grid] {
    margin:0;
}


img { max-width: 100%; }


/*  Temporary Styles */

* {
    padding: 0.5rem;
    border: 2px solid rgb(200,200,200);
} 

html, 
body {
    border: none;
} 

 h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
} 

