/*  NOTES
Headings :  font-family: 'Gilda Display', serif;
Body :      font-family: 'Montserrat', sans-serif;    
Colors: featured:  #F0EAED
        dark-text: #8E7483 
        light-text: white


*/

* {
	padding: 0;
	margin: 0; 
	box-sizing: border-box;
}

/* Gridlex reset */

[class*="col-"] { padding: 0;}

[class*=grid] {  margin: 0; }


img { max-width: 100%; }


/*  Temporary Styles */
/*
* {
    border: 2px solid rgb(200,200,200);
} 

html, 
body {
    border: none;
} 

 h1,h2,h3,h4,h5,h6,p, a {
    border: 2px solid rgb(179, 84, 84);
} 
*/



/* Reusable utility classes——————————-—*/


/* Padding Utility Classes */ 
.padded { padding: 5%; }
.padded-sm { padding: 2.5%; }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }

/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }


/* Height Classes */

.tall-40 { min-height: 40vh; }
.tall-45 { min-height: 45vh; }

.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }


/* Typography font styles———-————————-—*/

body {
    font-family: 'Montserrat', sans-serif; 
    color:#8E7483;
}

h2, h3, h4, h5, h6 {
    font-family: 'Gilda Display', serif;
	line-height: 1.1;
	margin-bottom: 1.2rem;
    text-transform: uppercase;
}

h2 span {
    display: block;
    font-size: 9.5vw;
}

.lg-heading {
    font-size: 5.5vw;
    line-height: 0.9;

}

h2 {
    font-size: 2.2rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1.1rem;
    text-transform: none;
}


p {
	line-height: 1.4; 
	margin-bottom: 1rem;
}

p:last-child {
    margin-bottom: 0;
}




/* General typography & universal styles——————-———*/

.bg-featured { background-color: #F0EAED;  }
.bg-dark     { background-color: #8E7483;  }

.light-text { color: white; } 

.medium-text   { font-size: 2rem;  }
.small-text    { font-size: 1.6rem;}

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.uppercase { text-transform: uppercase;}


a {
    text-decoration: none;
    color: inherit;
  }

.button {
    color: white;
    border: 1px solid #8E7483;
    border-radius: 1.5rem;
    background-color:#8E7483;
    padding: 0.7rem 1.5rem;
    display: inline-block;
    font-size: 1.1rem;
}

.button:hover {
    color: #8E7483;
    background-color: #c6d8cf;
    border: 1px solid #c6d8cf;
}

.subtitle { 
    font-style: italic;
    font-size: 1.2rem;
    color: #baaab3;
}

.subtle {
    font-size: 0.8rem;
    opacity: 0.8;
}



/* Header & Footer Styles————————————————*/

header a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
}
header a:hover {
    color: #c6d8cf;
}

header {
    padding: 2% 5%
}

.logo h1 {
    font-family: 'Gilda Display', serif;
    font-size: 2.5rem;
}

footer {
    padding: 5%;
}
  
footer a {
    padding: 0 0.1rem;
    margin: 0.2rem;
}

footer h3 {
    font-size: 1.6rem;
}

footer h4 {
    margin-bottom: 0.1rem;
    letter-spacing: 0.05em;
}

.border-line {
    border: none;
    border-bottom: 1px solid white;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

span a {
    display: inline-block;
  }

.social-links a {
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    margin: 0 0.1rem;
  }


/* Images & Background Images—————————-—— */

.bg-image {
    background-color: #8E7483;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.bg-image-banner { background-image: url('images/cake-layered-co-11.jpg'); }
.bg-image-1 { background-image: url('images/cake-layered-co-1.jpg'); }
.bg-image-2 { background-image: url('images/cake-layered-co-2.jpg'); }
.bg-image-3 { background-image: url('images/cake-layered-co-3.jpg'); }
.bg-image-4 { background-image: url('images/cake-layered-co-4.jpg'); }
.bg-image-5 { background-image: url('images/cake-layered-co-5.jpg'); }
.bg-image-6 { background-image: url('images/cake-layered-co-6.jpg'); }
.bg-image-7 { background-image: url('images/cake-layered-co-7.jpg'); }
.bg-image-8 { background-image: url('images/cake-layered-co-8.jpg'); }
.bg-image-9 { background-image: url('images/cake-layered-co-9.jpg'); }
.bg-image-10 { background-image: url('images/cake-layered-co-10.jpg'); }

.shape-rounder { border-radius: 10rem; }
.shape-round-corner { border-radius: 1.5rem; }

/* Aspect Ratio  */
.portrait-tall { padding-bottom: 175%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 59%; }
.landscape-wide { padding-bottom: 56%; }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }
.bg-pos-unique { background-position: 50% 50%; }


.gallery [class*="col-"] {
  padding: 0.5%;
}


/*-- Testimonial Block -------------------*/
.quote-icon {
    color: #baaab3;
    font-size: 6rem;
    display: inline-block;
    line-height: 1;
 }


 /*---Subscribe form---*/
form input {
    width: 50%;
    font-family: inherit;
    background-color: white;
    border: 2px solid white;
    border-radius: 6px;
    margin: 0.5rem 0;
    padding: 0.5rem;
    letter-spacing: 0.08rem;
  }
  
form button {
    background-color: white;
    color: #8E7483;
    border: none;
    border-radius: 6px;
    /*margin: 0.5rem 0;*/
    padding: 0.5rem 1rem;
    letter-spacing: 0.1em;
    font-size: 1rem;
}